{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="Tutorial">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Try Python!</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>
    <script src="{{ STATIC_URL }}djangular/js/django-angular.min.js" type="text/javascript"></script>
    <script src="{% static 'js/controllers.js' %}"></script>
  </head>
  <body>

    <div id="instructions" ng-controller="TutorialController">
        <div id="challenge">
            <h1>{$ instructions.title $}</h3>
            <div ng-bind-html="instructions.description"></div>
        </div>
    </div>

    <div id="interpreter" ng-controller="PromptController">
        <div id="output">
            <div ng-repeat="out in output" class="error-{$out.error$}">
                {$out.text$}
            </div>
        </div>
        <div id="input">
            >>> <input type="text" ng-model="prompt" ng-keyup="runCode($event.keyCode)">
        </div>
    </div>

  </body>
</html>
